.info-block {
  clear: both;
}
.row {
  border-bottom: 1px dotted #458299;
  height: 8px;
  div {
    color: #333333;
  }
  .title {
    font-weight: bold;
    width: 40%;
    position: relative;
    top: -8px;
  }
  .value {
    float: right;
    width: 60%;
    position: relative;
    top: -24px;
  }
  .title, .value {
    font-size: 11px;
  }
  .title.big {
    width: 60%;
  }
  .value.big {
    width: 40%;
  }
}
.percent-bar {
  background-color: #EEEEEE;
  height: 10px;
  margin-top: 5px;
  .filled-bar {
    background-color: #5B768C;
    height: 10px;
    margin-top: 5px;
  }
}