<structure-expanded [legend]="resumeData.legend"></structure-expanded>
<profile-header-expanded [data]="resumeData"></profile-header-expanded>
<div class="vertical-line"></div>
<div class="resume-content resume-content-art">
<div class="resume-column column-left">
    <simple-block title="Personal" [info]="resumeData.personal"></simple-block>
    <div class="separator"></div>
    <simple-block title="Programas" [info]="resumeData.software"></simple-block>
    <div class="separator"></div>
    <simple-block title="Contacto" [info]="resumeData.contact"></simple-block>
</div>
<div class="resume-column column-right">
    <column-block title="Formación" [info]="resumeData.education"></column-block>
    <div class="separator"></div>
    <column-block title="Proyectos" [info]="resumeData.projects"></column-block>
    <div class="separator"></div>
    <column-block title="Publicaciones" [info]="resumeData.publications"></column-block>
    <div class="separator"></div>
    <div class="two-columns">
    <half-column-block title="Cursos" [info]="resumeData.courses"></half-column-block>
    <half-column-block title="Idiomas" [info]="resumeData.realLanguages"></half-column-block>
    </div>
</div>
</div>