Hola Mundo
<structure-expanded [legend]="resumeData.legend"></structure-expanded>
<profile-header-expanded [data]="resumeData"></profile-header-expanded>
<div class="vertical-line"></div>
<div class="resume-content resume-content-art">
  <div class="resume-column column-left">
    <simple-block title="Personal" [info]="resumeData.personal"></simple-block>
    <div class="separator"></div>
    <simple-block title="Programas" [info]="resumeData.software"></simple-block>
    <div class="separator"></div>
    <simple-block title="Contacto" [info]="resumeData.contact"></simple-block>
  </div>
  <div class="resume-column column-right">
    <text-block title="Perfil" [text]="resumeData.profile"></text-block>
    <div class="separator"></div>
    <text-block title="Sobre mí" [text]="resumeData.aboutMe"></text-block>
    <div class="separator"></div>
    <column-block title="Estudios" [info]="resumeData.education"></column-block>
    <div class="separator"></div>
    <column-block title="Certificados" [info]="resumeData.certificates"></column-block>
    <div class="separator"></div>
    <column-block title="Idiomas" [info]="resumeData.languages" top="spacing"></column-block>
  </div>
</div>