.row {
    color: #333333;
    font-size: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.no-title {
    display: none;

}
.reverse {
    flex-flow: row-reverse;
    column-gap: 17px;
    height: 28px;
}

.color-blue {
    filter: invert(34%) sepia(62%) saturate(635%) hue-rotate(167deg) brightness(88%) contrast(94%);
}

.two-column-container, .two-column-icon-container {
    display: flex;
    align-items: center;
}

.two-column-container div, .two-column-icon-container div {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.two-column-container div {
    width: 50%;
}

.two-column-icon-container div:last-child {
    text-transform: none;
}

.two-column-icon-container img {
    width: 20px;
}

.two-column-icon-container div:first-child {
    width: 40px;
}