<ng-template [ngIf]="info && info.length > 0">
  <div class="info-block">
    <div class="row-content">
      <div *ngFor="let element of info">
        <div class="row">
          <div *ngIf="percent; then isPercent else isNotPercent"></div>
          <ng-template #isPercent>
            <div *ngIf="element.level; then hasLevel else hasntLevel"></div>
            <ng-template #hasLevel>
              <div class="title three">{{ element.name }}</div>
              <div class="value three">
                {{ element.level }}
              </div>
              <div class="value three">
                <div class="percent-bar">
                  <div class="filled-bar" [style.width.%]="element.percent">&nbsp;</div>
                </div>
              </div>
            </ng-template>
            <ng-template #hasntLevel>
              <div class="title big">{{ element.name }}</div>
              <div class="value big">
                <div class="percent-bar">
                  <div class="filled-bar" [style.width.%]="element.percent">&nbsp;</div>
                </div>
              </div>
            </ng-template>
          </ng-template>
          <ng-template #isNotPercent>
            <div class="title bold">{{ element.name }}</div>
            <div class="value">{{ element.value }}</div>
          </ng-template>
        </div>
        <br />
      </div>
    </div>
  </div>
</ng-template>