/* General */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1, h2 {
  letter-spacing: 5px;
}

h1 {
  text-transform: uppercase;
}
h2 {
  font-family: Montserrat-light;
}

.resume {
  color: #458299;
  font-family: Montserrat;
}

.resume-content {
  display: flex;
  justify-content: space-between;
}

.resume-column {
  flex-grow: 0;
}