<div class="resume">
  <resume-structure [legend]="resumeData.legend"></resume-structure>
  <profile-header [data]="resumeData"></profile-header>
  <br />
  <br />
  <br />
  <div class="resume-content">
    <div class="resume-column column-left">
      <info-block title="Información de Contacto" [info]="resumeData.contact"></info-block>
      <br />
      <br />
      <br />
      <info-block title="Idiomas" [percent]="true" [info]="resumeData.languages"></info-block>
      <br />
      <br />
      <br />
      <info-block title="Habilidades Técnicas" [percent]="true" [info]="resumeData.skills.technical"></info-block>
      <br />
      <br />
      <br />
      <info-block title="Habilidades Sociales" [percent]="true" [info]="resumeData.skills.misc"></info-block>
    </div>
    <div class="resume-column column-middle">
      <text-block title="Sobre Mí" [text]="resumeData.aboutMe"></text-block>
      <br />
      <resume-timeline title="Experiencia" [timeLineArray]="resumeData.timeline.experience"></resume-timeline>
      <br />
      <br />
      <br />
      <resume-timeline title="Educación" [timeLineArray]="resumeData.timeline.education"></resume-timeline>
    </div>
  </div>
</div>