<div class="resume">
  <ng-template [ngIf]="template === 'artistic'">
    <artistic-template [resumeData]="resumeData"></artistic-template>
  </ng-template>

  <ng-template [ngIf]="template === 'default'">
    <default-template [resumeData]="resumeData"></default-template>
  </ng-template>

  <ng-template [ngIf]="template === 'timeline'">
    <timeline-template [resumeData]="resumeData"></timeline-template>
  </ng-template>

  <ng-template [ngIf]="template === 'two-columns'">
    <two-columns-template [resumeData]="resumeData"></two-columns-template>
  </ng-template>
</div>
