<div class="half-column-block">
  <h1>{{ title }}</h1>
  <div class="row-content">
    <div class="item-content" *ngFor="let row of info; let generalIndex=index;">
      <div class="{{row.size}} title title-{{generalIndex}}-{{top}}" [innerHTML]="row.title"></div>
      <div *ngFor="let subTitle of row.subTitle; let indexOfelement=index;">
        <div class="text-{{indexOfelement}}-{{generalIndex}}" [innerHTML]="subTitle"></div>
        <br />
      </div>
      <div class="text" [innerHTML]="row.year"></div>
    </div>
  </div>
</div>
