<h1>{{ title }}</h1>
<div *ngFor="let element of timeLineArray; let i = index;" class="timeline">
  <div class="timeline-left">
    <div class="year">
      {{ element.year }}
    </div>
    <div class="bullet">
      <img src="./assets/{{ element.icon }}.svg" />
    </div>
  </div>
  <div class="separator"></div>
  <div class="timeline-right">
    <span class="title">{{ element.title }}</span>
    <br />
    <span class="subtitle">{{ element.location }}</span>
    <div *ngIf="element.highLightIcon; then hasHighLightIcon else hasntHighLightIcon"></div>
    <br />
    <ng-template #hasHighLightIcon>
      <div class="high-light-icon">
        <img src="./assets/{{ element.highLightIcon }}.svg" />
      </div>
    </ng-template>
    <span class="small" [innerHtml]="element.highLight"></span>
    <br />
    <span class="small color">{{ element.duration }}</span>
  </div>
</div>