/* You can add global styles to this file, and also import other style files */
/* General */
@font-face {
  font-family: Monserrat;
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: Monserrat;
  src: url('./assets/fonts/Montserrat-Bold.ttf');
  font-weight: bold;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: Monserrat;
}
h1, h2 {
  letter-spacing: 2px;
}
h1 {
  text-transform: uppercase;
  border-bottom: 1px dotted;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 18px;
}
h2 {
  font-family: Monserrat;
}
.resume {
  color: #5B768C;
  font-family: Monserrat;
}
.resume-content {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
}
.resume-column {
  flex-grow: 0;
}
.column-left {
  width: 34%;
}
.column-middle {
  width: 36%;
}
.column-right {
  width: 26%;
}


