/* You can add global styles to this file, and also import other style files */
/* General */
@font-face {
  font-family: Monserrat;
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: Monserrat;
  src: url('./assets/fonts/Montserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Gothic;
  src: url('./assets/fonts/GOTHIC.ttf');
}
@font-face {
  font-family: Gothic;
  src: url('./assets/fonts/GOTHICB.TTF');
  font-weight: bold;
}
.two-columns-primary-color {
  color: #151515;
}

.two-columns-secondary-color {
  color: #4f74ba; 
}

.two-columns-third-color {
  color: #22639d;
}


body {
  margin: 0px;
  padding: 0px;
  font-family: Monserrat;
}
h1, h2 {
  letter-spacing: 2px;
}
h1 {
  text-transform: uppercase;
  border-bottom: 1px dotted;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 18px;
}
h2 {
  font-family: Monserrat;
}
a {
  font-size: 8px;
}
.tall {
  height: 37px;
}

.medium {
  height: 26px;
}
.resume {
  color: #5B768C;
  font-family: Monserrat;
}
.resume-content {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
}
.resume-content-art {
  font-family: Gothic;
  top: 200px;
  position: relative;
}

.separator {
  border-bottom: 2px solid #c1c1c1;
  position: relative;
  display: flex;
}

.two-columns {
  display: flex;
}

half-column-block {
  width: 50%;
  padding-right: 20px;
}

.resume-column {
  flex-grow: 0;
}
.resume-column.column-left {
  width: 34%;
}
.resume-column.column-middle {
  width: 36%;
}
.resume-column.column-right {
  width: 26%;
}

.resume-content-art h1 {
  font-size: 14px;
  border-bottom: none;
  color: #00acee;
}

.resume-content-art .row {
  line-height: 1.5;
}

.resume-content-art .resume-column.column-right, .resume-content-art .resume-column.column-left {
  padding: 20px;
}
.resume-content-art .resume-column.column-left {
  width: 30%;
  margin-top: 100px;
}
.resume-content-art .resume-column.column-right {
  width: 70%;
  padding-left: 30px;
}

.resume-content-art text-block, .resume-content-art simple-block, .resume-content-art column-block {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
}

.vertical-line {
  width: 3px;
  height: 100vh;
  background-color: #c1c1c1;
  position: absolute;
  left: 34%;
  z-index: -1;
}
