/* Header */
.resume-header {
  height: 90px;
  padding: 50px 20px 20px 20px
}

.resume-header .header-content {
  float: left;
  padding: 0px 30px;
  line-height: 1em;
}

.resume-header .circle-img {
  float: left;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.resume-title {
  font-weight: bold;
  font-size: 35px;
  border: none;
  letter-spacing: 5px;
}

.resume-subtitle {
  font-size: 20px;
  opacity: 0.5;
  letter-spacing: 5px;
}